.pyg_view{
    padding: 10px;
    .mui-input-group{
        .mui-input-row:nth-of-type(2){
            position: relative;
            button{
                position: absolute;
                top: 5px;
                right: 5px;
               padding: 6px;
               width: 90px;
            }
        }
    }
    .login_btn_tool{
        a{
            width: 49%;
            margin-top: 15px;
        }
    }
}