<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../lib/mui/css/mui.css">
    <link rel="stylesheet" href="../css/commer.css">
    <link rel="stylesheet" href="../css/detail.css">
</head>

<body>
    <!-- 头部 -->
    <header class="mui-bar mui-bar-nav pyg_header">

        <h1 class="mui-title">搜索</h1>
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    </header>
    <!-- 主体内容 -->

    <div class="pyg_view">

    </div>
    <!-- 底部 -->
    <footer class="pyg_footer1">
            <a href="javascript:;">
                    <span class="fa fa-weixin"></span>
                    <div>客服</div>
               </a>
               <a href="javascript:;">
                    <span class="fa fa-phone"></span>
                    <div>客服</div>
               </a>
               <a href="javascript:;">立即购买</a>
               <a href="javascript:;">加入购物车</a>

    </footer>
</body>

<!-- 模板 -->

<script type="text/html" id="detailtp">

    <div class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
              <!--支持循环，需要重复图片节点-->
              <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="{{pics[pics.length-1].pics_mid_url}}" /></a></div>
              {{each pics value index}}

                <div class="mui-slider-item"><a href="#"><img src="{{value.pics_mid_url}}" /></a></div>
             
                {{/each}}
              <!--支持循环，需要重复图片节点-->
              <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="{{pics[0].pics_mid_url}}" /></a></div>
            </div>
            <div class="mui-slider-indicator">
                    {{each pics value index}}
                    {{if index==0 }}
                    <div class="mui-indicator mui-active"></div>
                    {{/if}}
                    {{if index!=0 }}
                    <div class="mui-indicator "></div>
                    {{/if}}
          
                    {{/each}}
               </div>
          </div>

        <div class="good_name">
            {{goods_name}}
        </div>
        <div class="good_price">
           ￥{{goods_price}}
        </div>
        <ul class="add">
                <li>
                        <span>已选</span>
                        <span>白色</span>
                   </li>
                   <li>
                        <span>促销</span>
                        <span>是</span>
                   </li>
                   <li>
                        <span>送至</span>
                        <span>上海市</span>
                   </li>
                   <li>
                        <span>运费</span>
                        <span>免运费</span>
                   </li>
        </ul>

        <div class="good_info">
               
                <div class="pyg_title mui-segmented-control">
                     <a class="mui-control-item mui-active" href="#item1">图文详情</a>
                     <a class="mui-control-item" href="#item2">规格参数</a>
                </div>
              
                <div class="good_conten">
                     <div id="item1" class="mui-control-content mui-active">
                          {{@goods_introduce}}
                     </div>
                     <div id="item2" class="mui-control-content">
                          <ul>
                               {{each  attrs value index}}
                               <li>
                                    <div class="good_title">{{value.attr_name.split('-')[0]}}</div>
                                    <div class="good_content">
                                         <span>{{value.attr_name.split('-')[1]}}</span>
                                         <span>
                                              {{value.attr_value}}
                                         </span>
                                    </div>
                               </li>
                               {{/each}}
                          </ul>
                     </div>
                </div>
                <!-- 内容 -->
           </div>
       

</script>



<!-- 模板 -->

<script src="../lib/arttemplate/template-web.js"></script>
<script src="../lib/iscroll/iscroll.js"></script>
<script src="../lib/mui/js/mui.js"></script>
<script src="../lib/zepto/zepto.js"></script>
<script src="../js/commer.js"></script>
<script src="../js/detail.js"></script>

</html>